In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg

In [3]:
spark = SparkSession.builder.appName("Student Grades Example") .getOrCreate()

In [4]:
data = [
    ("Alice", "Math", 85),
    ("Bob", "Math", 90),
    ("Alice", "Science", 95),
    ("Bob", "Science", 88),
    ("Charlie", "Math", 75),
    ("Charlie", "Science", 82)
]

In [5]:
columns = ["student_name", "subject", "grade"]

In [6]:
df = spark.createDataFrame(data, columns)

In [7]:
print("Initial DataFrame:")
df.show()

Initial DataFrame:
+------------+-------+-----+
|student_name|subject|grade|
+------------+-------+-----+
|       Alice|   Math|   85|
|         Bob|   Math|   90|
|       Alice|Science|   95|
|         Bob|Science|   88|
|     Charlie|   Math|   75|
|     Charlie|Science|   82|
+------------+-------+-----+

In [8]:
print("Students with grades > 85:")
df_filtered = df.filter(col("grade") > 85)
df_filtered.show()

Students with grades > 85:
+------------+-------+-----+
|student_name|subject|grade|
+------------+-------+-----+
|         Bob|   Math|   90|
|       Alice|Science|   95|
|         Bob|Science|   88|
+------------+-------+-----+

In [9]:
print("Average grade per student:")
df_avg = df.groupBy("student_name").agg(avg("grade").alias("avg_grade"))
df_avg.show()

Average grade per student:
+------------+---------+
|student_name|avg_grade|
+------------+---------+
|         Bob|     89.0|
|       Alice|     90.0|
|     Charlie|     78.5|
+------------+---------+